
table{
    align-self: start;
}

h1{
    font-weight: 500px;
    font-size: 48px;
    text-align: center;
    margin-top: 40px;
}

.pop-text {
    color: brown;
    background-color: aqua;
}

h2{
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    margin-top: 40px;
}

div p{
    font-size: 32px;
    text-align: justify;
    background-color: bisque;
    border: 6px;

}
p{
    font-size: 16px;
    padding: 8px e;
}

nav a {
   color: cadetblue;
   text-decoration: none;
    padding: 5px 12px;
    border-radius: 6px;
    font-weight: 600;
}


nav a:hover{
    background: #dfefff;
}
img{
    max-width: 550px;
    display: block;
    border-radius: 8px;
    margin: 20px auto;
    width: 100%;
}
.blue-text{
    color: rgb(146, 146, 232);
    font-weight: 600%;
    
}
strong{
    font-size: 20px;
    display: auto;
    font-variant: inherit;
}
figure{
    text-align: center;
    margin: 30px 0;
}
figcaption{
    font-size: 14px;
    color: #555;
}
table{
    font-size: 16px;
    dominant-baseline: central;
    width: 100px;
    max-width: 900px;
    border-collapse: collapse;
    border-top: 15px;
}

table caption{
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

table th {
    background: #e9e9f5;
    font-weight: 700;
}

form {
    background: #ffffff;
    padding: 25px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #aaa;
    border-radius: 6px; 
    font-size: 16px;
}

input[type="submit"] {
    background: #5c6bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #6955de {
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #efefef;
}